<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.huawei.carstatushelper">

    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.BYDAUTO_BODYWORK_COMMON" />
    <uses-permission android:name="android.permission.BYDAUTO_BODYWORK_GET" />

    <uses-permission android:name="android.permission.BYDAUTO_STATISTIC_GET" />
    <uses-permission android:name="android.permission.BYDAUTO_SPEED_GET" />
    <uses-permission android:name="android.permission.BYDAUTO_ENERGY_GET" />
    <uses-permission android:name="android.permission.BYDAUTO_ENGINE_GET" />

    <uses-permission android:name="android.permission.BYDAUTO_GEARBOX_GET" />

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".SplashActivity"
            android:exported="false" />
        <activity
            android:name=".activity.AboutActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>